<p id="notice"><%= notice %></p>


<ul class="list-group" style="padding-top: 20px">
  <% @profiles.each do |profile| %>
  <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
            <%= image_tag profile.avatar.thumb.url, class: "thumb" %>
        </div>
        <div class="col-md-7">
          <p><%= "#{profile.prenom} #{profile.nom}" %></p>
          <p>
          <%= profile.address %>
          </p>
        </div>
        <div class="col-md-3">
          <%= link_to profile, class: "btn btn-xs btn-default" do %>
                <span class="fa fa-expand"></span> Show
          <% end %>
           <%= link_to edit_profile_path(profile), class: "btn btn-xs btn-default" do %>
                 <span class="fa fa-pencil-square-o"></span> Edit
           <% end %>
          <%= link_to profile, method: :delete, class: "btn btn-xs btn-default", data: { confirm: "Are you sure?" } do %>
                 <span class="fa fa-trash"></span> Delete
           <% end %>
        </div>

      </div>
  </li>
  <% end %>

</ul>
