<!DOCTYPE html>
<html>
<head>
  <title>ProfilesManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
       <div class="header clearfix">
         <nav>
           <ul class="nav nav-pills pull-right">
             <li role="presentation" class="active"><%= link_to 'New Profile', new_profile_path %></li>
           </ul>
         </nav>
         <h3><%= link_to "Profile Manager System", root_path %></h3>
       </div>
       <% if notice %>
       <div class="alert alert-info">
         <%= notice %>
       </div>
       <% end %>

            <%= yield %>
      <footer class="footer">
        <p>Test Ruby on rails.</p>
      </footer>

</div> <!-- /container -->

</body>
</html>
